body {
    display: flex;
}

.circle-1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: red;
    margin-left: 400px;
}

.circle-2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    margin-left: -350px;
    margin-top: 50px;
}

.circle-3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(15, 24, 153);
    margin-left: -250px;
    margin-top: 100px;
}