* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(56, 33, 6), rgb(24, 20, 2));
    width: 100%;
    height: 100vh;
}

.all-menu {
    position: relative;
    display: flex;
    max-width: 1200px;
    
    padding-top: 20px;
    padding-left: 10%;
}

.img-burger{
    position: relative;
    display: block;
    width: 450px;
    height: 600px;
    background-image: url(https://www.garrys.com.ua/6btitle/ua-dabl-burger.jpg);
    background-size: cover;
}

.discount {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    background-color: black;
    color: white;
    justify-content: center;
    margin-top: 250px;
    margin-left: -10px;
    margin-right: 10px;
}

.discount-position {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.discount-price {
    padding-top: 20px;
    text-align: center;
}

.discount-price span {
    color: yellow;
    padding-right: 10px;
}

.position-menu {
    position: relative;
    display: flex;
    width: 700px;
    height: 600px;
    background-color: white;
    text-align: center;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
}

.head-menu {
    position: absolute;
    font-size: 1.1rem;
    padding-top: 10px;
}

.position-block-right {
    padding-top: 100px;
    position: relative;
    width: calc(50% - 50px);
}

.position-block-left {
    padding-top: 100px;
    position: relative;
    width: calc(50% - 50px);
}

.product {
    font-size: 17px;
    color:black;
    padding-top: 20px;
}

.price {
    padding-bottom: 20px;
    color: grey;
    border-bottom: 2px solid;
    padding-bottom: 4px;
}

button {
    display: block;
    width: 190px;
    height: 60px;
    background-color: black;
    color: white;
    position: absolute;
    top: 630px;
    left: 1010px;
    font-weight: bold;
}

.price:after {
    content: ' ';
    position: absolute;
    left: calc(50% - 5px);
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: #000;
}

button:hover {
    background: grey;
    text-decoration: black;
}
  



